#service.yaml
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  type: LoadBalancer
  labels:
    app: postgres  
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: postgres