#service.yaml
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  type: NodePort
  labels:
    app: postgres  
  ports:
    - port: 5432
      targetPort: 5432
      nodePort: 30032
      protocol: TCP
  clusterIP: None
  selector:
    app: postgres